<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Marble.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Marble.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<userSettings>
		<Marble.Properties.Settings>
			<setting name="CalendarAccount" serializeAs="String">
				<value>tenanji@gmail.com</value>
			</setting>
			<setting name="CalendarDaysInPast" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="CalendarDaysInTheFuture" serializeAs="String">
				<value>7</value>
			</setting>
			<setting name="CalendarId" serializeAs="String">
				<value>Work</value>
			</setting>
			<setting name="ExchangeEmail" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="OnlyKeepAppointmentsInDateRange" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="OutlookCalendarServiceProvider" serializeAs="String">
				<value>Interop</value>
			</setting>
			<setting name="ShowNotifications" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="StartWithWindows" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SyncEveryHour" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SyncEveryNMinutes" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="SyncFrequencyType" serializeAs="String">
				<value>EveryHour</value>
			</setting>
			<setting name="SyncMinutesOffset" serializeAs="String">
				<value>10</value>
			</setting>
		</Marble.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<Marble.Properties.Settings>
			<setting name="ApplicationName" serializeAs="String">
				<value>Marble</value>
			</setting>
			<setting name="AppointmentCacheFileName" serializeAs="String">
				<value>MarbleAppointment.cache</value>
			</setting>
			<setting name="ClientId" serializeAs="String">
				<value>1032384851384-6gv06rktf1o8cqrplv9ljpa0u29i5iog.apps.googleusercontent.com</value>
			</setting>
			<setting name="ClientSecret" serializeAs="String">
				<value>swyGLjZpRMoe-E73JpHmNEub</value>
			</setting>
			<setting name="DataStoreFolderNameCalendar" serializeAs="String">
				<value>Marble.Calendar.Auth.Store</value>
			</setting>
			<setting name="DataStoreFolderNameTasks" serializeAs="String">
				<value>Marble.Tasks.Auth.Store</value>
			</setting>
			<setting name="ScopeCalendar" serializeAs="String">
				<value>https://www.googleapis.com/auth/calendar</value>
			</setting>
		</Marble.Properties.Settings>
	</applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.28.0" newVersion="2.2.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.28.0" newVersion="2.2.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>